<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chats </title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h3 id="chat_heading"> Write New Chat .....</h3>
    <div class="new_chat_form">

        <form method="post" action="/chats">
           <div class="form_content">
            <input type="text" placeholder="Who are You" name="from" id="txt"> <br><br>
            <textarea name="msg" id="msg" placeholder="Write Your msg. Here"></textarea> <br><br>
            <input type="text" placeholder="Add Reciever Name " name="to" id="txt1"><br><br>
            <button class="butt">Create Chat </button>
           </div>
        </form>

    </div>

</body>
</html>